<a href="https://colab.research.google.com/github/DhruvRajSingh-Coder/LetsUpgrade-AI-ML/blob/master/Day_6_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:   
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [ ]:
Email_ID=input("Enter your email address ")
Company=Email_ID.split("@")[1].split(".")[0]
print("Name of the company is", Company)

Enter your email address narayan@infosys.com
Name of the company is infosys

Question 2:  
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.Input Format:The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world Output:
bag,hello,without,world

In [ ]:
D=input("Enter the unsorted words:").split(",")
B=D.sort()
B=",".join(I for I in D)
print("Sorted words are",B)

Enter the unsorted words:Rock,Jazz,Funk,Classical,Pop
Sorted words are Classical,Funk,Jazz,Pop,Rock

Question 3:    
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp
 
###___Done in another notebook.___

Question 4:                    
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input.

In [ ]:
D=input("Enter the numbers:")
K=D.split()
for I in range(1,len(K)+2):
    if str(I) not in K:
        print("The missing number is",I)

Enter the numbers:5 1 4 9 7 2 8 3
The missing number is 6

Question 5:   
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [ ]:
L=[]
D=input("Enter the numbers:")
H=D.split()
for I in H:
    if int(I) not in L:
        L.append(int(I))
        print(int(I),end=" ")

Enter the numbers:6 12 15 12 6 21 23 21 23
6 12 15 21 23