<a href="https://colab.research.google.com/github/DhruvRajSingh-Coder/LetsUpgrade-AI-ML/blob/master/Day_12_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
 import pandas as pd
Data=pd.read_csv("https://raw.githubusercontent.com/LetsUpgrade/AI-ML-July-2020/master/Day-7/Assignment/general_data.csv")
Data.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [5]:
 from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Data["Attrition"]=le.fit_transform(Data["Attrition"])
Data.head()

   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          0  ...                       0                    0
1   31          1  ...                       1                    4
2   32          0  ...                       0                    3
3   38          0  ...                       7                    5
4   32          0  ...                       0                    4

[5 rows x 24 columns]

In [6]:
 #Statistical Tests:
#Wilcoxon
#H0=There is no significant relation between Attrition and Education.
#Ha=There is significant relation between Attrition and Education.
from scipy.stats import wilcoxon
D1=Data.Attrition
D2=Data.Education
stats,p=wilcoxon(D1,D2)
print(stats,p)

0.0 0.0

 Since p<0.05 Ha is accepted.

In [7]:
#Friedmanchisquare
 #H0=There is no significant relation between Attrition,JobLevel and TotalWorkingHours.
#Ha=There is significant relation between Attrition,JobLevel and TotalWorkingHours. 
from scipy.stats import friedmanchisquare
D1=Data.Attrition
D3=Data.JobLevel
D4=Data.TotalWorkingYears
stats,p=friedmanchisquare(D1,D3,D4)
print(stats,p)

7909.931062782114 0.0

Since p<0.05 we accept Ha.

In [8]:
#Mann-Whitney
#H0=There is no significant relation between Attrition and DistanceFromHome.
#Ha=There is significant relation between Attrition and DistanceFromHome.
from scipy.stats import mannwhitneyu 
D1=Data.Attrition
D5=Data.DistanceFromHome
stats,p=mannwhitneyu(D1,D5)
print(stats,p)

221832.0 0.0

Since p<0.05 we accept Ha.

In [9]:
#Kruskal
 #H0=There is no significant relation between Attrition, JobLevel and Education.
#Ha=There is significant relation between Attrition, JobLevel and Education.
from scipy.stats import kruskal
D1=Data.Attrition
D3=Data.JobLevel
D2=Data.Education
stats,p=kruskal(D1,D3,D2)
print(stats,p)

9190.473391894182 0.0

 Since p<0.05 we accept Ha.

In [12]:
from scipy.stats import chi2_contingency
chitable=pd.crosstab(Data.Attrition,Data.BusinessTravel)
K=chitable
print (K)

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
0                      414                624           2661
1                       36                207            468

In [17]:
#Chisquare
stats,p,did, expected=chi2_contingency(K)
print(stats,p)

72.54724105696552 1.764276972983189e-16

Since p<0.05 we can conclude that attrition and business travel are dependent on each other.